body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
}

hr {
  margin: 0;
  padding: 0;
}

label {
  margin-block-end: 0.5rem;
}

form {
  display: flex;
  flex-flow: column;
  padding: 3vmax;
  height: 100%;

  background-color: hsla(162, 60%, 39%, 0.13);
}

.scene {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 200px;
  perspective: 600px;
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-color: hsla(133, 16%, 46%, 0.863);
}

.cube {
  --axis_x: 0deg;
  --axis_y: 0deg;
  --axis_z: 0deg;

  --size: 150px;

  --backface-status: hidden;

  width: var(--size);
  height: var(--size);
  position: relative;
  text-align: center;
  transform-style: preserve-3d;
  transform: rotatex(var(--axis_x)) rotateY(var(--axis_y))
    rotatez(var(--axis_z));
}

.cube .face {
  backface-visibility: var(--backface-status);
  position: absolute;
  width: var(--size);
  height: var(--size);
  background: hsla(278, 81%, 41%, 0.438);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.9;

  border: 1px dashed black;
  outline: 1px double black;
  outline-offset: -3rem;
}

.cube .face.front {
  transform: translateZ(calc(var(--size) / 2));
  background: hsl(156, 55%, 31%);
}

.cube .face.back {
  transform: rotateX(180deg) translateZ(calc(var(--size) / 2));
  background: hsl(208, 100%, 33%);
}

.cube .face.left {
  transform: rotateY(-90deg) translateZ(calc(var(--size) / 2));
  background: hsl(354, 67%, 56%);
}

.cube .face.right {
  transform: rotateY(90deg) translateZ(calc(var(--size) / 2));
  background: hsl(223, 100%, 83%);
}

.cube .face.top {
  transform: rotateX(90deg) translateZ(calc(var(--size) / 2));
  background: hsl(13, 97%, 55%);
}

.cube .face.bottom {
  transform: rotateX(-90deg) translateZ(calc(var(--size) / 2));
  background: hsl(40, 92%, 58%);
}
